html, body {
  height: 100%;
  margin: 0;
}

.jumbotron {
	height:400px;
	margin-bottom: 0;
	background-image: url(images/mapBG01.jpg);
	background-size: cover;
}

.nav-tabs.nav-justified>li>a {
	font-size: 24px;
}

a {
	color: #666;
	font-weight:500;
}

#infoDisplay, #weatherDisplay, #newsDisplay, #buzzDisplay {
	font-size: 16px;
}

#map{
  height: 100%;
  margin: 0;
}

#buzzDisplay img {
	max-width: 200px;
	max-height: 200px;
}