html, body {
  height: 100%;
  margin: 0;
  font-size: 20px;
}
h2 {
	font-size: 2.5em;
}

.jumbotron {
	height:450px;
	margin-bottom: 0;
	background-image: url(images/mapBG01.jpg);
	background-size: cover;
}

.nav-tabs.nav-justified>li>a {
	font-size: 24px;
}

a {
	color: #666;
	font-weight:500;
}

/*#infoDisplay, #weatherDisplay, #newsDisplay, #buzzDisplay {
	font-size: 16px;
}
*/
#map{
  height: 100%;
  margin: 0;
}

.placePic {
	width: 200px;
	height: 200px;
}

#infoDisplay, #newsDisplay, #buzzDisplay {
	font-size:2em;
}

h4 {
	font-size: 1.25em;
	font-weight: 700;
}

.text-smaller {
	font-size: .5em;
}